body
{
    background-size: cover;
    background-position: center;
}
.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
}
#status,#object_status
{
    font-size: 18px;
}
.copyright_footer
{
    position: fixed;
    bottom:10;
    width:100%;
    color:gray;
    background-color:black;
    line-height:3;
    text-align:center;
}
canvas
{
    border:2px solid white;
    border-radius:10px;
    margin-top:130px;
    box-shadow:5px 5px 5px white;

}
